# PROJECT PROPOSAL GROUP 17

## Title/ Inferential Question

### Introduction

-insert intro here-
ie. What is the mean cholesterol level in men and women diagnosed with heart disease?

### Data Analysis

In [15]:
#Load this before continuing
library(tidyverse)
library(digest)
library(infer)
library(repr)
library(tidyverse)

In [19]:
#Reading data into R
url <- "https://archive.ics.uci.edu/ml/machine-learning-databases/heart-disease/processed.cleveland.data"
cleveland_heart <- read_csv(url)
head(cleveland_heart)

#Change column names to given varaibles from dataset

colnames(cleveland_heart) <- c("age", "sex", "chest_pain", "resting_blood_pressure", "cholesterol_level", "fasting_blood_sugar", "resting_ecg_results", "maximum_heart_rate_achieved", "exercise_induced_angina", "oldpeak", "slope", "major_vessels_colored", "thal", "diagnosis")
head(cleveland_heart)

New names:
• `1.0` -> `1.0...2`
• `1.0` -> `1.0...3`
• `1.0` -> `1.0...6`
• `0.0` -> `0.0...9`
• `0.0` -> `0.0...12`
Rows: 302 Columns: 14
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (2): 0.0...12, 6.0
dbl (12): 63.0, 1.0...2, 1.0...3, 145.0, 233.0, 1.0...6, 2.0, 150.0, 0.0...9...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  63.0 1.0...2 1.0...3 145.0 233.0 1.0...6 2.0 150.0 0.0...9 2.3 3.0 0.0...12
1 67   1       4       160   286   0       2   108   1       1.5 2   3.0
2 67   1       4       120   229   0       2   129   1       2.6 2   2.0
3 37   1       3       130   250   0       0   187   0       3.5 3   0.0
4 41   0       2       130   204   0       2   172   0       1.4 1   0.0
5 56   1       2       120   236   0       0   178   0       0.8 1   0.0
6 62   0       4       140   268   0       2   160   0       3.6 3   2.0
  6.0 0
1 3.0 2
2 7.0 1
3 3.0 0
4 3.0 0
5 3.0 0
6 3.0 3

  age sex chest_pain resting_blood_pressure cholesterol_level
1 67  1   4          160                    286
2 67  1   4          120                    229
3 37  1   3          130                    250
4 41  0   2          130                    204
5 56  1   2          120                    236
6 62  0   4          140                    268
  fasting_blood_sugar resting_ecg_results maximum_heart_rate_achieved
1 0                   2                   108
2 0                   2                   129
3 0                   0                   187
4 0                   2                   172
5 0                   0                   178
6 0                   2                   160
  exercise_induced_angina oldpeak slope major_vessels_colored thal diagnosis
1 1                       1.5     2     3.0                   3.0  2
2 1                       2.6     2     2.0                   7.0  1
3 0                       3.5     3     0.0                   3.0  0
4 0                       1.4     1     0.0                   3.0  0
5 0                       0.8     1     0.0                   3.0  0
6 0                       3.6     3     2.0                   3.0  3

### Methods

-insert methods here-

We expect to find... similar mean cholesterol levels in both men and women

Impact: 

Future questions:

### References

-insert 2 ref here-